.dashboard-img {
    width: 5rem;
    height: 5rem;
}

.dashboard-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    width: 13rem;
    max-width: 13rem;
    min-width: 10rem;
}

.info-div {
    max-width: 50rem;
}

.info-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.user-email {
    direction: ltr;
}

.ali {
    min-width: 9rem;
}

.form-control, .btn-outline-danger {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}